/*ADD ROBOTO FONT TO ALL ELEMENTS*/

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Roboto', sans-serif;
}
/*NAV STYLES*/

.navbar {
  background-color: #e3f2fd;
}
/*GOOGLE TRANSLATE API POSITIONING*/

#google_translate_element {
  text-align: right;
  margin-top: -3.5rem;
  margin-right: 1rem;
}
/* Sticky footer styles */

html {
  position: relative;
  min-height: 100%;
}

.footer {
  background-color: #e3f2fd;
}

.jumbotron {
  background-color: #fff;
}

#play-video {
  color: #000;
}
